<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.accengage.privaliatest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".MyGCMHandler"
            android:permission="com.google.android.c2dm.permission.SEND" >

            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.accengage.privaliatest" />
            </intent-filter>

        </receiver>

        <service
            android:name="com.ad4screen.sdk.A4SService"
            android:label="A4S Service"
            android:process=":A4SService" >
            <meta-data
                android:name="com.ad4screen.partnerid"
                android:value="privalia2e3c16f771649e5" />
            <meta-data
                android:name="com.ad4screen.privatekey"
                android:value="cdb7b82833fb14a74fba419b947c5f981f921bf9" />

            <meta-data android:name="com.ad4screen.senderid" android:value="gcm:769784717906" />

            <meta-data
                android:name="com.ad4screen.logging"
                android:value="true" />

            <!-- just to avoid spam in logs -->
            <meta-data android:name="com.ad4screen.no_geoloc" android:value="true" />

        </service>

    </application>

</manifest>